<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="cs-cz" dir="ltr">

<head>
  <meta charset="utf-8">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "pojisteni/navbar.html" %}
  <br><br>
  <div class="jumbotron text-center" style="margin-bottom:0px;"><br>
    <h1 class="display-4">Vítáme vás</h1>
    <p class="lead">Vítejte v systému správy pojištění</p>
    <hr class="my-4">
    <p>Po přihlášení můžete získat přístup k různým funkcím</p>
    <p class="lead">
      <a class="btn btn-success text-center" href="registrace" role="button">Vytvoření účtu</a>
      <a class="btn btn-success text-center" href="customerlogin" role="button">Přihlášení</a>
    </p>
    <br><br><br>
  </div>
 
  {% include "pojisteni/footer.html" %}
</body>

</html>
