{% extends 'pojisteni/adminbase.html' %}
{% block content %}
{%load static%}
{% load django_bootstrap5 %}

<head>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <style media="screen">
    h3 {
      text-align: center;
    }
  </style>
</head>
<br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Pojištěnci</h3><br>
      <h6  class="btn btn-success"><a href="pridat-pojistence" style="text-decoration: none;color:white;">Přidat nového pojištěnce</a> </h6>
    </div><br>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th>IČP</th>
          <th>Jméno a přijmení</th>
          <th>Datum narození</th>
          <th>Adresa</th>
          <th>Email</th>
          <th>Telefon</th>
          <th>Osobní údaje</th>
          <th>Odstranit</th>
        </tr>
      </thead>
      {% for t in customers %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{t.get_name}}</td>
        <td>{{t.birth_date}}</td>
        <td>{{t.address}}</td>
        <td>{{t.email}}</td>
        <td>{{t.mobile}}</td>
        <td><a class="m-b-20" href="{% url 'aktualizace-pojistence' t.id  %}"><span class="glyphicon glyphicon-edit"></span>editovat</a></td>
        <td><a class="m-b-20" style="text-decoration: none;color: red;" href="{% url 'odstraneni-pojistence' t.id  %}"><span class="glyphicon glyphicon-edit"></span>odstranit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}