{% extends 'pojisteni/adminbase.html' %}
{% block content %}
{%load static%}
{% load django_bootstrap5 %}

<head>
    {{% bootstrap_css %}
    {% bootstrap_javascript %}
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    h3 {
      text-align: center;
      color:red;
    }
  </style>
</head>
<br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Zamítnuté návrhy smluv</h3><br>
    </div>
    <table  class="table table-success table-striped">
      <thead>
        <tr>
        <th>Číslo</th>
          <th>Návrh smlouva</th>
          <th>Zájemce</th>
          <th> Ze dne</th>
          <th>Status</th>
          
        </tr>
      </thead>
      {% for t in policyrecords %}
      <tr>
        <td> {{ forloop.counter }}</td>
        <td> {{t.Policy}}</td>
        <td> {{t.customer}}</td>
        
        <td>{{t.creation_date}}</td>
        <td style="color:red;font-size:15px;">{{t.status}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}